<h1>Edit your duck!</h1>
<br>

<%= form_for :duck do |f| %>

  name: <%= f.text_field :name %><br />
  description : <%= f.text_field :description %><br />

  <%= f.submit %>

  <%= button_to("Destroy Duck", student_path(@duck), method: "delete") %>

<% end %>
